<!-- app/Resources/views/base.html.twig -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}locator{% endblock %} - locator</title>
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        {% block stylesheets %}
            {% stylesheets
                '@bootstrap_less'
                combine=true
            %}
                <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        <div class="container">
            <div class="header">
                {% block navigation %}
                    <nav>
                        <ul class="nav nav-pills pull-right">
                            <li role="presentation" class="active"><a href="{{ path('locator_location_homepage') }}">Home</a></li>
                            <li role="presentation"><a href="{{ path('locator_location_about') }}">About</a></li>
                            <li role="presentation"><a href="{{ path('locator_location_contact') }}">Contact</a></li>
                        </ul>
                    </nav>
                {% endblock %}
                <h3 class="text-muted">{% block locator_title %}<a href="{{ path('locator_location_homepage') }}">locator</a>{% endblock %}</h3>
            </div>

            <section class="main-col">
                {% block body %}{% endblock %}
            </section>

            <div id="footer" class="footer">
                {% block footer %}
                    footer
                {% endblock %}
            </div>
        </div> <!-- /container -->

        {% block javascripts %}
            {% javascripts
                '@jquery_js'
                '@bootstrap_js'
                filter='?yui_js'
                combine=true %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
