{# src/Locator/LocationBundle/Resources/views/layout.html.twig #}
{% extends '::base.html.twig' %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('locator-notice') %}
        {{ flashMessage }}
    {% endfor %}

    <form action="{{ path('locator_location_homepage') }}" method="post" {{ form_enctype(form) }} class="locator">
        {{ form_errors(form) }}

        {{ form_row(form.address) }}

        {{ form_rest(form) }}

        <input type="submit" value="Submit" />
    </form>

    {{ google_map(map) }}

    <section class="locations" id="locations">
        <section class="all-locations">
            <h3>Locations</h3>
            {% include 'LocatorLocationBundle:Location:index.html.twig' with { 'locations': locations } %}
        </section>
    </section>
{% endblock %}

{% block sidebar %}
    Sidebar content
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/bundles/locatorlocation/js/index.js') }}"></script>
{% endblock %}
