{# src/Locator/LocationBundle/Resources/views/layout.html.twig #}
{% extends '::base.html.twig' %}

{% block body %}
    <div class="flashBag">
      {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="success">
          {{ flashMessage }}
        </div>
      {% endfor %}

      {% for flashMessage in app.session.flashbag.get('warning') %}
        <div class="warning">
          {{ flashMessage }}
        </div>
      {% endfor %}

      {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="error">
          {{ flashMessage }}
        </div>
      {% endfor %}
    </div>

    <form action="{{ path('locator_location_homepage_ajax') }}" method="post" {{ form_enctype(form) }} class="locator jsSearchLocations">
        {{ form_errors(form) }}

        {{ form_row(form.address) }}

        {{ form_rest(form) }}

        <input type="submit" value="Submit" />
    </form>

    {{ google_map_container(map) }}

    {{ google_map_js(map) }}

    <section class="locations" id="locations">
        <section class="all-locations">
            <h3>Locations</h3>
            {% include 'LocatorLocationBundle:Location:index.html.twig' with { 'locations': locations } %}
        </section>
    </section>
{% endblock %}

{% block sidebar %}
    Sidebar content
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/bundles/locatorlocation/js/framework/jquery-1.11.1.js') }}"></script>
    <script src="{{ asset('/bundles/locatorlocation/js/main.js') }}"></script>
    <script src="{{ asset('/bundles/locatorlocation/js/index.js') }}"></script>
{% endblock %}
